body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.book-card-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding: 40px;
    height: 300px;
}

.card {
    padding: 30px;
}



